*{
  margin: 0;
  padding: 0;
  box-shadow: none;
  color: white;
}

body{
  background: #1a263d;
  align-items: center;
  display: flex;
  justify-content: center;
  height: 800px;
}

.rps-button{
  font-size: 64px;
}

.score{
  display: flex;
  justify-content: center;
}

#player-score,
#computer-score{
  margin: 25px 15px;
}

.select-throw{
  display: flex;
  justify-content: center;
}